@mixin boxShadow($horizontal: 0px, $vertical: 0px, $blur : 1px ,$spread: 0px) {
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,0.75);
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,0.75);
  box-shadow: $horizontal $vertical $blur $spread rgba(0,0,0,0.75);
}

@mixin button($color, $type: dark) {
  border-radius: 0;
  width: 100%;
  transition: 0.3s;
  bottom: 0;
  font-size: 1em;
  @include boxShadow;

  @if $type == light {
    border: 1px solid lighten($color, 20%);
    background-color: $color;

    &:hover {
      background-color: $color;
      border: 1px solid darken($color, 30%);
    }
  }
  @if $type == dark {
    background-color: darken($color, 30%);
    &:hover {
      background-color: lighten($color, 2%);
      border: 1px solid $color;
    }
  }

  @media(max-width:420px){
    font-size: 0.9em;
  }

  @media(min-width:421px){
    font-size: 1em;
  }
}

@mixin heading($type: light, $color: #2F2F2F) {
  color: $color;

  a {
    text-decoration: underline;
  }

  @if $type == light {
    font-weight: 300;
  } @else {
    font-weight: 600;
  }
}

@mixin link($color : #3f90ff) {
  color: black;
  text-decoration: underline;

  &:hover {
    color: $color;
  }
  &:active {
    color: saturate($color, 30%);
  }
}

@mixin item($bg: white, $margin-positions: false, $margin-value: 0, $padding: 0) {
  background-color: $bg;

  @each $position in $margin-positions {
    margin-#{$position}: $margin-value;
  }

  padding: $padding;
}

@mixin animation($duration: 3s, $delay: 2s, $iterations: 12) {
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iterations;
}

@mixin eventDateTime($font-size, $margin-positions : false, $margin-value: 0)
{
  display: block;
  font-size: $font-size;
  font-weight: 100;
  line-height: 1;
  font-family: Lato, sans-serif;
  @each $position in $margin-positions {
    margin-#{$position}: $margin-value;
  }
}