/** Side wide defaults  **/

.site-default-background-color {
  background-color: darken(#E9EAEA, 7%);
}

.default-heading-color {
  color: #2F2F2F;
}

.default-link-hover-color {
  color: #3f90ff;
}

* h1, h2, h3, h4, h5, h6  {
  @extend .default-heading-color;
}

* a {
  @extend .default-heading-color;
  text-decoration: underline;
}

.button-conference {
  border-radius: 0;
  width: 100%;
  transition: 0.3s;
}

.button-green {
  background-color: #098018;
}

.button-dark {
  background-color: darken(#E9EAEA, 30%);

  &:hover {
    background-color: darken(#E9EAEA, 7%);
    border: 1px solid #c3c3c3;
  }

}

.button-light {
  border-top: 1px solid #c3c3c3;
  margin-top: 0.4em;

  &:hover {
    background-color: #c3c3c3;
    border: 1px solid darken(#E9EAEA, 30%);
  }
}


.conference-breacrumb {
  background-color: #ffffff;
}