/** Side wide defaults  **/
.default-heading {
  @include heading(light);
}

* h1, h2, h3, h4, h5, h6, * a  {
  @include heading(light);
}

.button-dark {
  @include button($type: dark, $color: #E9EAEA);
}

.button-light {
  @include button($type: light, $color: #c3c3c3);
}

.conference-breadcrumb {
  li a {
    text-decoration: underline;
  }

}

.site-notice {
  .alert {
    .exclamation {
      animation-duration: 3s;
      animation-delay: 2s;
      animation-iteration-count: 12;

    }
  }
}

/* Alerts */
.alert {
  button {
    .close {
      span {
        font-size: 1.5em;
      }

    }
  }

}

.conference-breadcrumb {

  list-style-type: circle;
  margin: 10px;
    li {

      display: inline;


    }
  .active {
    color: grey;
  }

}


#advanced-options {
  background-color: lightgrey;
  div > div {
    padding : 1em;
  }

  * a {
    text-decoration: none;
  }
}

#footer {
  margin-top: 30px;
}