@import 'conference-defaults';
@import 'conference-mixins';
@import 'components/nav';
@import 'components/featurette';
@import 'components/footer';
@import 'components/forms';
@import 'components/conference';
@import 'components/event';
@import 'components/message';
@import 'components/rating';
@import 'components/chat';
@import 'components/map';

* {
  padding: 0;
  margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.footer, .push {
  height: 150px;
}

.wrapper {
  background: linear-gradient($default-background-color, darken($default-background-color, 12%));
  padding-top: 70px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;

}


// Side wide defaults
.default-heading {
  @include heading(light);
  margin-top: 50px;
}

* h1, h2, h3, h4, h5, h6, * a  {
  @include heading(light);
}

* a {
  text-decoration: underline;
}

.button-dark {
  @include button($type: dark, $color: #E9EAEA);
}

.button-light {
  @include button($type: light, $color: #c3c3c3);
}

//Other stuff

.page-header-hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 10px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

textarea {
  resize: none;
}

.shadow {
  @include boxShadow;
}
.item-positioned {
  @include item;
  margin-top: 1em;
  padding: 1em;
}

.toggled {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  border-width: 0;
}

.options a {
  color: black;
  font-size: 1.5em;
}

/* Alerts */
.alert {
  .close {

    span {
      font-size: 1.5em;
    }
  }

  .bell {
    font-size: 1.5em;
    float: left;
    @include animation(3s, 2s, 12);
    i {
      color: #000;
      font-size: 1.5em;
      margin-top: 9px;
      padding-left: 0.1em;
      padding-right: 0.3em;
    }

  }
  .checker {
    color: black;
    font-size: 1.5em;
    float: left;
    @include animation(3s, 2s, 2);
    margin-top: 1px;
    padding: 0.5em;
  }

  .info-circle {
    color: black;
    i {
      padding: 0.4em 0.6em 0.6em 0.3em;
      font-size: 2em;
      @include animation(3s, 2s, 2);
    }
    float: left;
  }
}

.conference-breadcrumb {
  li a {
    text-decoration: underline;
  }

  li {
    display: inline;

  }
  .active {
    color: grey;
  }
}

.options {
  a {
    text-decoration: none;
    background: transparent;
    border: 0;
    font-weight: bold;
    font-size: 1.3em;
  }
}

#advanced-options {
  background-color: darken($default-background-color, 20%);
  div > div {
    padding : 1em;
  }
  a {
    text-decoration: none;
  }
}


#frm-language {
  @media(min-width:768px) {
    margin-top: 50px;
  }

}
#frm-language .btn-change-language{

  color: black;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1em;
  &:hover {
    background-color: lightgray;
  }
}

#frm-language .dropdown-menu {
  a {
    text-decoration: none;
  }
}
.options #show-options-link {
  color: $default-heading-color;
  font-size: 1.2em;

  font-weight: 300;
  &:hover {
    cursor: pointer;
    background: #d3d3d3;
  }

  .glyphicon {
    color: $default-heading-color;

    font-weight: 300;
  }

  @media(max-width:500px) {
    font-size: 1em;
  }
}

.features .description {
    padding: 0.5em 2em 2em 2em;
    margin: 1em;
}



#event-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
#event-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;

}
#event-rating > span:hover:before,
#event-rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: #ffb300;
}




.fc td, .fc th {
  border-style: solid;
  border-width: 0px;
  padding: 0;
  vertical-align: top;
}


.fc table {
  background-color: white;
  @include boxShadow();
}

