@import url("//fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
@import url("http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900,400italic");

@import 'conference-defaults';
@import 'conference-mixins';

@import 'components/featurette';
@import 'components/footer';
@import 'components/forms';
@import 'components/conference';
@import 'components/event';
@import 'components/message';
@import 'components/rating';
@import 'components/chat';
@import 'components/map';



/*@import '../../../public/components/vendor/world-flags-sprite/stylesheets/flags32.scss';
$flags-images-path: '../../../public/components/vendor/world-flags-sprite/images';*/

#frm-language {

  @media(min-width:768px) {
    margin-top: 50px;
  }


}
#frm-language .btn-change-language{

  color: black;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 1em;
  &:hover {
    background-color: lightgray;
  }
}

#frm-language .dropdown-menu {
  a {
    text-decoration: none;
  }
}
.options #show-options-link {
  font-size: 1.2em;
  color: black;
  font-weight: 400;

  @media(max-width:500px) {
    font-size: 1em;
  }

}


/** MODS TO PURE PUSHER */


@media(max-width:767px) {
  .pure-pusher {
  .container {
    margin-top: 90px;
  }
}

}
.pure-pusher {
  background: linear-gradient($default-background-color, darken($default-background-color, 12%));
}

* {
  padding: 0;
  margin: 0;
}

html {

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: $default-background-color;
}

html, body {
  height: 100%;
}


// Side wide defaults
.default-heading {
  @include heading(light);
  margin-top: 50px;
}

* h1, h2, h3, h4, h5, h6, * a  {
  @include heading(light);
}

* a {
  text-decoration: underline;
}

.button-dark {
  @include button($type: dark, $color: #E9EAEA);
}

.button-light {
  @include button($type: light, $color: #c3c3c3);
}



//Other stuff

.page-header-hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 10px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

textarea {
  resize: none;
}

.item-positioned {
  @include item;
  margin-top: 1em;
  padding: 1em;
}

.toggled {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  border-width: 0;
}



.options a {
  color: black;
  font-size: 1.5em;
}

/* Alerts */
.alert {
  .close {
    span {
      font-size: 1.5em;
    }
  }

  .exclamation {
    font-size: 1.5em;
    float: left;
    @include animation(3s, 2s, 12);
    i {
      color: #000;
      font-size: 1.5em;
      margin-top: 9px;
      padding-left: 0.1em;
      padding-right: 0.3em;
    }

  }
  .checker {
    font-size: 1.5em;
    float: left;
    @include animation(3s, 2s, 2);
    font-size: 1.5em;
    margin-top: 1px;
    padding: 0.5em;

  }

  .info-circle {
    i {
      padding: 0.5em 0.6em 0.6em 0.3em;

      font-size: 2em;

      @include animation(3s, 2s, 2);
    }
    float: left;
  }

}

//Next snippet found at http://stackoverflow.com/questions/19941414/center-a-row-using-bootstrap-3
.im-centered { margin: auto; max-width: 150px;}

.conference-breadcrumb {
  /*margin: 50px;*/
  li a {
    text-decoration: underline;
  }

  li {
    display: inline;

  }
  .active {
    color: grey;
  }
}

.options {
  a {
    text-decoration: none;
    background: transparent;
    border: 0;
    font-weight: bold;
    font-size: 1.3em;
  }
}

#advanced-options {
  background-color: darken($default-background-color, 20%);
  div > div {
    padding : 1em;
  }
  a {
    text-decoration: none;
  }
}


#footer {
  margin-top: 50px;

}



// Navigation bar

.nav-conference {
  margin-top: 100px;

  border-top: 1px solid #ff0000;
  @media(min-width:640px) {
    width: 315px;
    border-top: 1px solid #ff0000;
  }

  li {
    list-style-type: none;

    a {
      margin-left: 10px;
      text-decoration: none;
      font-size: 1.5em;
      font-weight: 100;
      color: White;

      &:hover {
        width: 100%;
        color: black;
        font-weight: 400;
      }
      @media(min-width:640px) {
        &:hover {
          width: 305px;
          color: black;

        }
      }

    }
  }
}

//margin-top: 80px;