@import 'modules/navbar';
@import 'modules/items/main_components';
@import 'modules/items/conference_item';
@import 'modules/footer';

* {
  margin: 0;
}

body {
  margin-bottom: 200px;
}

html, body {
  height: 100%;
  background-color: #E9EAEA;
}


