/* Partially borrowed from http://bootsnipp.com/snippets/featured/event-list and modified */

/*  background-color: rgb(79, 153, 197);*/


.event-default {
  margin-top: 1em;

  background-color: rgb(255, 255, 255);

  padding: 0px;
  @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
  @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

  .description-short, .description-long {
    color: black;
  }

  @extend .default-box-shadow;
}


.social-links {
  .facebook a, .twitter a,  .google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
  }
  .twitter a {
    color: rgb(79, 213, 248) !important;
  }
  .google-plus a {
    color: rgb(221, 75, 57) !important;
  }
  .facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
  }
  .twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
  }
  .google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
  }
}

.event-time-data {
  .month {
    display: block;
    font-size: 24pt;
    font-weight: 600;
    line-height: 1;
    font-family: 'Lato', sans-serif;
  }
  .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
    font-family: 'Lato', sans-serif;
  }

  .hour {
    display: none;
  }
}
@media(max-width:767px){
  .event {
    @extend .event-default;

    .event-time {
      display: inline-block;
      width: 100%;
      color: rgb(255, 255, 255);
      background-color: rgb(197, 64, 11);
      text-align: center;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      @extend .event-time-data;
    }

    .social {
      font-size: 1.5em;
      @extend .social-links;
    }
  }
}

@media(min-width:768px){
  .event {
    @extend .event-default;
    overflow: hidden;

    .event-time {
      margin-bottom: -99999px;
      padding-bottom: 99999px;

      text-align: center;
      text-transform: uppercase;

      color: rgb(255, 255, 255);
      background-color: rgb(197, 64, 11);

      .row {
        padding: 0.8em;
      }
      @extend .event-time-data;
    }

    .social {

      font-size: 1.5em;

      @extend .social-links;
    }
  }
}


/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
*/
