.navbar-user-image {
  float: left;
  position: relative;
  top: -2px;
  left: -6px;
  font-size: 1.5em; }

* .conference-navbar a:active {
  background-color: #ffffcc; }
* .conference-navbar a:hover {
  background-color: #ffffcc; }

.footer-navigation {
  border-radius: 0; }
  .footer-navigation .item {
    color: white; }

.conference-form {
  background-color: white;
  padding: 3em;
  border-radius: 5px; }

.conference-item {
  background-color: white;
  margin: 1em; }
  .conference-item a {
    text-decoration: underline; }
  .conference-item .banner img {
    width: 100%;
    height: 100%; }
  .conference-item .main {
    padding: 0.5em; }
    .conference-item .main .name {
      text-align: center;
      font-size: 1.3em; }
    .conference-item .main .time {
      text-align: right;
      font-size: 0.8em; }
    .conference-item .main .about {
      color: #B3BAC0;
      font-size: 1em; }
    .conference-item .main .description {
      border-top: 1px solid #ccc;
      margin: .5em 0; }
      .conference-item .main .description .button {
        background-color: #f6f6f6;
        border: 1px solid #c3c3c3;
        width: 100%;
        -webkit-transition: 1s;
                transition: 1s;
        margin-top: 0.4em; }
        .conference-item .main .description .button:hover {
          background-color: #c3c3c3; }

.session-item {
  background-color: white;
  margin: 1em; }
  .session-item a {
    text-decoration: underline; }
  .session-item .header .time {
    font-size: 0.8em;
    float: right;
    display: block; }
  .session-item .header .location {
    font-size: 0.5em; }
  .session-item .header .avatar {
    padding: 0.5em 0 0 1em;
    float: left;
    font-size: 1.5em; }
  .session-item .header .title {
    padding: 0.5em 0 0.5em 0;
    font-size: 1em; }
  .session-item .description-long {
    padding: 1em; }
  .session-item .description-short {
    padding: 1em; }
  .session-item .buttons .with-border {
    border-right: 1px dashed #000; }
  .session-item .buttons button {
    background-color: #9b9f9f;
    border-radius: 0;
    width: 100%;
    -webkit-transition: 1s;
            transition: 1s; }
    .session-item .buttons button:hover {
      background-color: #d7d9d9; }
  .session-item .session-information .location {
    font-size: 1em; }

* {
  margin: 0; }

body {
  margin-bottom: 200px; }

html, body {
  height: 100%;
  background-color: #d7d9d9; }

.container {
  /* To push footer to bottom of page*/
  min-height: 100%; }

.page-header-hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 10px; }

.conference-well {
  background-color: white; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }
