.navbar-user-image {
  float: left;
  position: relative;
  top: -2px;
  left: -6px;
  font-size: 1.5em; }

.footer-navigation .item {
  color: white; }

.conference-item {
  background-color: white;
  margin: 1em; }
  .conference-item .banner img {
    width: 100%;
    height: 100%; }
  .conference-item .main {
    padding: 0.5em; }
    .conference-item .main .name {
      text-align: center;
      font-size: 1.3em; }
    .conference-item .main .time {
      text-align: right;
      font-size: 0.8em; }
    .conference-item .main .about {
      color: #B3BAC0;
      font-size: 1em; }
    .conference-item .main .description {
      border-top: 1px solid #ccc;
      margin: .5em 0; }
      .conference-item .main .description .button {
        background-color: #f6f6f6;
        border: 1px solid #c3c3c3;
        width: 100%;
        -webkit-transition: 1s;
                transition: 1s;
        margin-top: 0.4em; }
        .conference-item .main .description .button:hover {
          background-color: #c3c3c3; }

.footer-navigation {
  border-radius: 0px; }

* {
  margin: 0; }

body {
  margin-bottom: 200px; }

html, body {
  height: 100%;
  background-color: #E9EAEA; }
