/** Side wide defaults  **/
.default-heading-color, * h1, h2, h3, h4, h5, h6, * a {
  color: #2F2F2F; }

* a {
  text-decoration: underline; }

.button-conference {
  border-radius: 0;
  width: 100%;
  -webkit-transition: 0.3s;
          transition: 0.3s; }

.button-dark {
  background-color: #9b9f9f; }
  .button-dark:hover {
    background-color: #d7d9d9;
    border: 1px solid #c3c3c3; }

.button-light {
  border-top: 1px solid #c3c3c3;
  margin-top: 0.4em; }
  .button-light:hover {
    background-color: #c3c3c3;
    border: 1px solid #9b9f9f; }

.navbar-conference a {
  text-decoration: none;
  color: #ff0000; }
.navbar-conference .home-link {
  margin-top: -2px; }
.navbar-conference .navbar-user-image {
  float: left;
  position: relative;
  top: -2px;
  left: -6px;
  font-size: 1.8em; }

.footer-conference {
  background-color: #2c2c2c; }
  .footer-conference a {
    color: #9D9D9D; }
  .footer-conference h4 {
    color: #777777;
    font-weight: normal; }

.forms {
  margin-top: 1em;
  background-color: white;
  padding: 4em 3em 3em 3em; }

.conference-item {
  background-color: white;
  margin: 1em; }
  .conference-item .header img {
    width: 100%;
    height: 100%; }
  .conference-item .body {
    padding: 0.5em; }
    .conference-item .body .name {
      padding: 0.5em;
      text-align: center;
      font-size: 1.3em; }
    .conference-item .body .time {
      padding: .9em;
      text-align: right;
      font-size: 0.8em; }
    .conference-item .body .description {
      padding: .2em; }
      .conference-item .body .description .text {
        padding: 0.5em; }

.item {
  background-color: white;
  margin: 1em; }
  .item a {
    text-decoration: underline; }
  .item .header .time {
    font-size: 0.8em;
    float: right;
    display: block; }
  .item .header .location {
    font-size: 0.5em; }
  .item .header .avatar {
    padding: 0.5em 0 0 1em;
    float: left;
    font-size: 1.5em; }
  .item .header .title {
    padding: 0.5em 0 0.5em 0;
    font-size: 1em; }
  .item .description-long {
    padding: 1em; }
  .item .description-short {
    padding: 1em; }
  .item .buttons .with-border {
    border-right: 1px dashed #000; }
  .item .information .location {
    font-size: 1em; }

.message {
  margin: 1em; }
  .message .panel {
    border: 0;
    border-radius: 0; }
    .message .panel .panel-heading {
      background-color: #9b9f9f; }
      .message .panel .panel-heading .glyph {
        float: left; }
        .message .panel .panel-heading .glyph span {
          font-size: 1.5em; }
      .message .panel .panel-heading .title {
        margin-left: 25px; }
        .message .panel .panel-heading .title h3 {
          padding: 0.1em 0 0 0.5em; }
    .message .panel .panel-body .time {
      font-size: 1em;
      float: right; }
    .message .panel .panel-body .body {
      margin-top: 0.5em; }

.newspost-twitter .panel {
  border: 0;
  border-radius: 0 !important; }
.newspost-twitter .panel > .panel-heading {
  background-image: none;
  background-color: #af8b0f; }

/** Main layout **/
* {
  margin: 0; }

html, body {
  height: 100%;
  min-height: 100%;
  background-color: #d7d9d9; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px; }

.page-header-hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0 10px; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

textarea {
  resize: none; }

.footer, .push {
  height: 150px; }

.goto-top {
  margin-top: 2em;
  margin-bottom: 2em; }

/*.featurette {


    @media(max-width:767px){
      span.glyphicon {
        font-size: 5em;
      }

      figcaption {
        padding-left: 75px;
      }


      p {
        font-size: 1.4em;
        padding-top: 0.1em;
      }



    }
    @media(min-width:768px){
      span.glyphicon {
        font-size: 5em;
      }

      p {
        font-size: 1em;
      }
    }
    @media(min-width:992px){
      span.glyphicon {
        font-size: 5em;
      }

      p {
        font-size: 1.5em;
      }
    }
    @media(min-width:1200px) {
      span.glyphicon{
        font-size: 16em;
      }

      p {
        font-size: 2em;
      }
    }


}*/