.button-dark {
  background-color: darken(#E9EAEA, 30%);
  border-radius: 0;
  width: 100%;
  transition: 1s;

  &:hover {
    background-color: darken(#E9EAEA, 7%);
    border: 1px solid #c3c3c3;
  }
}

.button-light {
  background-color: lighten(#c3c3c3, 20%);
  border: 1px solid #c3c3c3;
  width: 100%;
  transition: 1s;
  margin-top: 0.4em;
  &:hover {
    background-color: #c3c3c3;
    border: 1px solid darken(#E9EAEA, 30%);
  }
}

  a.button-link {
      text-decoration: none !important;
      color: inherit;
  }
