#START MIME-types for font-awesome

    AddType application/vnd.ms-fontobject .eot
    AddType application/font-woff .woff
    AddType application/x-font-truetype .ttf
    AddType image/svg+xml .svg
    AddType application/x-font-opentype .otf

    # could use application/octet-stream for default binary file transfer
    #AddType application/octet-stream .otf .ttf
#END #MIME-types for font-awesome

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    #If we want to put Authorization in headers, these two are needed
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
