/* Some of the CSS code are borrowed from http://bootsnipp.com/snippets/featured/event-list and modified */
.professional-event {
  background-color: rgb(197, 64, 11);
}
.social-event {
  background-color: rgb(79, 153, 197);
}
.break-event {
  background-color: rgb(61, 197, 91);
}
.other-event {
  background-color: rgb(197, 89, 179);
}

.event-default {
  @include item($margin-positions: top, $margin-value: 1em);
  @include boxShadow($blur: 2px);

  .description-short, .description-long {
    color: black;
    p {
      margin: 10px 0 10px -5px;
    }
  }
  .session-info {
    margin-bottom: 10px;
    ul {
      list-style-type: none;
      margin: 0;
      margin-left: -5px;
      padding: 0;
    }
  }
  .social-links {
    .facebook a, .twitter a,  .google-plus a {
      display: block;
      width: 100%;
      color: rgb(75, 110, 168) !important;
    }
    .twitter a {
      color: rgb(79, 213, 248) !important;
    }
    .google-plus a {
      color: rgb(221, 75, 57) !important;
    }
    .facebook:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(75, 110, 168) !important;
    }
    .twitter:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(79, 213, 248) !important;
    }
    .google-plus:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(221, 75, 57) !important;
    }
  }
}


@media(max-width:767px){
  .event {
    @extend .event-default;
    .event-time {
        .month {
          @include eventDateTime($font-size: 24pt);
          font-weight: 300;
        }
        .day {
          @include eventDateTime($font-size: 40pt);
          margin-top: 5px;
          font-weight: 300;

        }
        .hour {
          @include eventDateTime($font-size: 14pt);
          font-weight: 300;
          margin-bottom: 5px;
        }

      display: inline-block;
      width: 100%;
      color: rgb(255, 255, 255);

      text-align: center;
      text-transform: uppercase;
    }
    .social {
      font-size: 1.5em;
      @extend .social-links;
    }
  }
}

@media(min-width:768px){
  .session-info {

    ul {
      margin-left: -15px;
    }
  }
  .event {
    @extend .event-default;
    overflow: hidden;

    .event-time {
        .month {
          @include eventDateTime($font-size: 24pt);
          font-weight: 300;
        }
        .day {
          @include eventDateTime($font-size: 40pt);
          font-weight: 300;
        }

        .hour {
          @include eventDateTime($font-size: 12pt);
          font-weight: 300;
        }

      margin-bottom: -99999px;
      padding-bottom: 99999px;
      text-align: center;
      text-transform: uppercase;
      color: rgb(255, 255, 255);

      .row {
        padding: 0.8em;
      }
    }

    .social {
      font-size: 1.5em;
      @extend .social-links;
    }
  }
}

.cancelled {
  color: #ff0000;
  span {
    color: #ff0000;
  }
}
