.featurette {
  margin-top: 3em;
  margin-bottom: 2em;

  @media(max-width: 767px) {
    span.glyphicon {
      font-size: 5em;
    }

    figcaption {
      padding-left: 75px;
    }

    p {
      font-size: 1.4em;
      padding-top: 0.1em;
    }

  }
  @media(min-width: 768px) {
    span.glyphicon {
      font-size: 5em;
    }

    p {
      font-size: 1em;
    }
  }
  @media(min-width: 992px) {
    span.glyphicon {
      font-size: 5em;
    }

    p {
      font-size: 1.5em;
    }
  }
  @media(min-width: 1200px) {
    span.glyphicon {
      font-size: 16em;
      margin: 0.2em;
    }

    p {
      font-size: 2em;
    }
  }
}



