.footer {
  border-top: 1px solid #ccc;

  background-color: #444444;
  a {
    color: #fffaf5;


    &:hover {
      @extend .default-link-hover-color;

    }
  }
  h4 {
    color: #fffaf5;
    font-weight:normal;
  }

  ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
  }
}