.navbar-conference {
  background-color: rgb(197, 64, 11);
  a {
    text-decoration: none;
    color: #ff0000;
  }

  .home-link {
    margin-top: -2px;
  }

  .navbar-user-image {
    float    : left;
    position : relative;
    top      : -2px;
    left     : -6px;
    font-size: 1.8em;
  }
}



