/* CSS from http://www.bootstrapzero.com/bootstrap-template/facebook
   Some of the code are modified
*/

.wrapper {
  min-height: 100%;
}
.wrapper, .row {
  height: 100%;
  margin-left:0;
  margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  height: 100%;
  overflow: auto;
  *zoom:1;
}

.column .padding {
  padding: 0;
  margin: 0;
}


.box {
  bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color:#444444;
}



#main {
  background-color:#e9eaed;
  padding-left:0;
  padding-right:0;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}



#sidebar {
  padding:0px;
  padding-top:15px;
}

#sidebar, #sidebar a, #sidebar-footer a {
  color:#ffffff;
  background-color:transparent;
  text-shadow:0 0 2px #000000;
  padding-left:5px;
}
#sidebar .nav li>a:hover {
  background-color:#393939;
}

.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:28px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}





/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
/*    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;*/

  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

.navbar-top {
  background-color: #afb0b3;
  a {
    margin-right: 10px;
  }
}

.navbar-toggle {
  color: black;

  span {
    background-color: black;
  }

}

.navbar-right .nav-item a {
  text-decoration: none;
}

.navbar-top .navbar-header a {
  text-decoration: none;
}

.sidebar-offcanvas .nav-item a {
  text-decoration: none;
}
