.chat-intro-text {
  margin-top: 1em;
}

.chat-group {
  @extend .default-box-shadow;
  background-color: #ffffff;
  padding: 0.8em;
  margin-bottom: 1em;
  word-wrap: break-word;
  .chat-avatar {
    float: left;
    padding: 0 15px 0 1em;
    font-size: 1.5em;

  }

  .chat-title {
    float: left;
    font-weight: 400;
    padding: 0.3em 0 0.5em 0.5em;


  }

  .time {
    .text {
      margin-left: 5px;
    }
  }

}



.chat-message {
  margin-top: 1em;
  .chat-icon {
    font-size: 1.5em;
  }
  .chat-user {
    margin-top: 3em;
    margin-bottom: 1.5em;
    word-wrap: break-word;
  }

}



.bubble
{
  position: relative;

  min-height: 120px;
  padding: 1em;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble:after
{

  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -15px;
  top: 23%;
}


