.conference-item {
  border: 1px solid #000;
  margin: 1em;

  .conference-item-banner {
    img {
      width: 100%;
      height: 150px;
    }
  }
  .conference-item-main {
    padding: 0.5em;

    .conference-name {
      text-align: center;
      font-size: 1.3em;
    }
    .conference-time {
      text-align: right;
      font-size: 0.8em;
    }

    .conference-item-description {
      font-size: 1em;
    }
  }
}