.navbar-user-image {
  float    : left;
  position : relative;
  top      : -2px;
  left     : -6px;
  font-size: 1.5em;
}

* .conference-navbar {
  a {
    &:active {
      background-color: #ffffcc;
    }

    &:hover {
      background-color: #ffffcc;
    }

  }

}