.message {
  margin: 1em;

  .panel {
    border: 0;
    border-radius: 0;

    .panel-heading {
      border: 0;
      background-color: darken(white, 10%);

      .glyph {
        color: #3e3e3e;
        float: left;
        span {
          font-size: 1.5em;

        }
      }
      .title {
        margin-left: 25px;

        h3 {
          font-weight: 400;
          @extend .default-heading-color;
          padding: 0.1em 0 0 0.5em;
        }
      }
    }

    .panel-body {
      .time {
        font-size: 1em;
        float: right;
      }
      .body {
        margin-top: 0.5em;
      }
    }

  }
}


.newspost-twitter {
  .panel {
    border : 0;
    border-radius: 0 !important;
  }
  .panel > .panel-heading {
/*    background-image: none;
    background-color: #2ea7af;*/

  }
}


